[Unit]
Description=ThemeSwitch
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/themeswitch
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
